<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice Forms</title>
    <link href="/dist/styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  </head>
  <body class="bg-base-200 flex flex-col min-h-screen">
    <div class="flex-grow container mx-auto p-4">
      <h1 class="text-4xl font-bold">Hello, World!</h1>
      <p class="mt-4">Please click the button below to populate a new form</p>
      <button
        onclick="document.getElementById('my_modal_1').showModal()"
        class="mt-4 btn btn-primary"
      >
        New Form
      </button>
      {{template "modal-form" .}} {{template "people-table" .}}
    </div>
    {{template "footer"}}
  </body>
</html>
